:root {
    --red-orange: #F33019;
    --lightblue: #59DBFF;
    --light-lightblue: #F7FDFF;
    --blue-blue: #00a8d6;
    --darkblue: #1B687D;
    --darkblue-transp: rgba(27, 104, 125, .25);
    --dark-darkgray: #1E2121;
}


